<div class="first_part">

<header class="container"> 

	<div class="menu1">
		<ul>
			<li>I Am an Applicant</li>
			<li>API & Docs</li>
			<li>About Us</li>
			<li>Careers</li>
		</ul>
	</div>

	<div class="menu2">
		<div class="menu_gauche">
			<%= image_tag "logo_checkr.svg" %>
				<div class="dropdown">
  					<button class="dropbtn">PRODUCT</button>
 						<div class="dropdown-content">
   							<a href="#">Overview</a>
    						<a href="#">Screenings</a>
   							<a href="#">Compliance</a>
   							<a href="#">Security</a>
  						</div>
				</div>
				<div class="dropdown">
  					<button class="dropbtn">STAFFING</button>
 						<div class="dropdown-content">
   							<a href="#">Overview</a>
  						</div>
  				</div>
				<div class="dropdown">
  					<button class="dropbtn">INDUSTRIES</button>
 						<div class="dropdown-content">
   							<a href="#">Overview</a>
    						<a href="#">Staffing</a>
   							<a href="#">Contact Centers</a>
   							<a href="#">Financial Services</a>
   							<!---
    						<a href="#">Retail & Hospitality</a>
   							<a href="#">Healthcare</a>
   							<a href="#">Non-Profit</a>
    						<a href="#">On-Demand Economy</a>
   							<a href="#">Manufacturing</a>
   							<a href="#">Software & Technology</a>
    						<a href="#">Small Business</a>
   							<a href="#">P2P Marketplaces</a>
   							-->
   						</div>
   				</div>
				<div class="dropdown">
  					<button class="dropbtn">RESOURCES</button>
 						<div class="dropdown-content">
   							<a href="#">Overview</a>
    						<a href="#">Guides & White Papers</a>
   							<a href="#">FAQ</a>
   						</div>
   				</div>
   				<div class="dropdown">
  					<button class="dropbtn">COMPLIANCE</button>
   				</div>
		</div>

		<div class="menu_droite">
			<ul>
				<li> <a href="https://dashboard.checkr.com/login?next=%2Freports">LOG IN</a></li>
				<li><a href="https://checkr.com/get-started">GET STARTED</a></li>
			</ul>
		</div>
	</div>

</header>

<div class="first_corpus">
	<div class="pitch"> 
		<h3>HIRE GREAT PEOPLE. FASTER.</h3>
		</p>Checkr provides modern and compliant background checks for global enterprises and startups.</p>
	<div>
	<div class ="demo"> </div>
</div>

<div>